<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
				
            </li>
			<li class="{% if app.request.attributes.get('_route') in ['admin_home'] %}active{% endif %}">
				<a href="{{ path('admin_home') }}">
					<i class="fa fa-home"></i>
					<span class="nav-label">Home</span>
				</a>
			</li>
			<li class="{% if app.request.attributes.get('_route') in ['admin_categories'] %}active{% endif %}">
				<a href="{{ path('admin_categories') }}">
					<i class="fa fa-folder-open"></i>
					<span class="nav-label">Categories</span>
				</a>
			</li>
			<li class="{% if app.request.attributes.get('_route') in ['admin_posts'] %}active{% endif %}">
				<a href="{{ path('admin_posts') }}">
					<i class="fa fa-file-text"></i>
					<span class="nav-label">Posts</span>
				</a>
			</li>
        </ul>
    </div>
</nav>
