{% extends 'AdminBundle::base.html.twig' %}

{% block title parent() ~ ' - Admin Panel' %}

{% block content %}
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-6">
                Hello World !
            </div>
        </div>
    </div>
{% endblock %}